@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to right, #ffe000, #799f0c);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
}

.form {
    margin-top: 50px;
    width: 400px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    border-radius: 5px;
    border-bottom: 1px solid #aaa;
}

.form button {
    background-color: yellowgreen;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    cursor: pointer;
}

.form input {
    height: 30px;
    width: 100%;
    font-size: 20px;
    color: #444;
    border: none;
    outline: none;
}

.todos {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todos li {
    padding: 15px;
    width: 400px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
}

.trash {
    color: #aaa;
    font-size: 20px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}